/* 
  Selectores
  Son patrones que permiten seleccionar y aplicar estilos especificos a elementos de una pagina web.

  Tipos de Selectores

  1. Selectores basicos 
    - Selectore Universal 
    - Selector de Tipo

  2. Selectores de Clase 
   
   Seleccionan los elementos que tienen una clase especifica. 
   
   Se usa la "notacion" de punto (.) antes del nombre de la clase
   
   .nombreClase {
    propiedad: valor;
   }
  

  3. Selectores de ID
  
   Seleccionan un elemento unico con un identificador especifico.

   Se usa el la ´notacion´ de numeral (#) antes del nombre del id.

   #nombreId {
    propiedad: valor;
   }

  4. Selectores Combinados 
    -Descendientes

     Seleccionan elementos dentro de otros elementos.

     elemento elementoInterno {
      propiedad: valor;
     }

    -Hijo directo

     Selecciona elementos que son hijos directos de un elemento padre.

    elemento > elementosHijos {
      propiedades: valor;
    }

    -Elemento Adjacente

    Selecciona el primer elemento inmediatamente despues de otro. (Su hermano inmediato o en ingles Siblings)

    elemento + elementoAdjacente {
     propiedades: valor;
    }

    -Hermano general

    Seleciona todos los elementos hermanos despues de un elemento. (alt + 126 -> ~)

    elemento +elementoHermano {
     propiedad: valor; 
    }

  5. Selectores de Atributos

    -Atributo

    Selecciona elementos segun el atributo que indiquemos. Sin importar su valor.

    elemento[atributo] {
     propiedad: valor
    }

    -Atributo con Valor

    Selecciona elementos segun el atributo y el valor que indiquemos.

    elemento[atributo=valor]

  6. Selectores Avanzados

    -Pseudo-clase

    Seleccionamos elementos en un estado en particular.

    elemento:pseudoclase {
     propiedad: valor;
    }

    -Pseudo-elementos

    Seleccionan partes especificas de un elemento en html

    elemento::pseudoelemento {
     propiedad: valor;
    }

*/

/* 
  Selectores Basicos

  */

/* Universal -> Seleccionar todos los elementos de un documento */

* {
  border: 0;
  /* Reset Basico */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Selectores de Tipo -> Seleccionan un tipo de elemento en html */

body {
  background-color: lightcyan;
}

h1 {
  color:darkslateblue;
}

p {
  font-size:24px;
}

header {
  background-color:rgb(63, 171, 243);
}

/* Selectores de Clase */
.content {
  background-color:darkblue;
  padding: 48px;
}

.hero {
  background-color:khaki; 
  padding: 24px;
}

.hero-title {
  background-color: aquamarine;
  padding: 16px;
  text-align: center;
}

/* Selector de Id */
#about-title {
  color:rgb(63, 171, 243);
  font-size: 72px;
}

/* Combinado -Elementos Descendientes */

aside section {
  background-color:lightskyblue;
  padding: 48px;
}

.aside-secction h3 {
  color:cornflowerblue;
  text-align: right;
  padding: 24px;
  background-color: aqua;
}

/* Combinados -Hijos Directos */

ul > li {
  background-color: lightblue;
}

.lista > li {
  font-size: 8px;
  color:blue;
}

/* Combinados - Elemento Adjacente */

h3 + ul {
  list-style: none;
}

.bro +li {
  background-color: red;
}

/* Combinados - Hermanos General */

.bro + li ~ li {
  background-color: chartreuse;
}

.tercero ~ li {
  color:black;
  font-size: 40px;
}

/* Selector de Atributo */
a[href] {
  display: block;
  text-decoration: none;
  color: mediumblue;
}

/* Selectores de Atributo con Valor */

a[href="https://www.instagram.com"] {
  font-size: 48px;
  color:chartreuse;
}

/* Pseudo Clases */

a:hover {
  background-color: darkslateblue;
  color:white
}

a:focus {
  border: 5px solid blueviolet;
}

/* Pseudo-elemento */

a::after {
  content: "👌";
}

a::before {
  content: "Este es un enlace hacia: ";
}