/* 
  Selectores
  Son patrones que permiten seleccionar y aplicar estilos especificos a elementos de una pagina web.

  Tipos de Selectores

  1. Selectores basicos 
    - Selectore Universal 
    - Selector de Tipo

  2. Selectores de Clase 
   
   Seleccionan los elementos que tienen una clase especifica. 
   
   Se usa la "notacion" de punto (.) antes del nombre de la clase
   
   .nombreClase {
    propiedad: valor;
   }
  

  3. Selectores de ID
  
   Seleccionan un elemento unico con un identificador especifico.

   Se usa el la ´notacion´ de numeral (#) antes del nombre del id.

   #nombreId {
    propiedad: valor;
   }

  4. Selectores Combinados 
    -Descendientes

     Seleccionan elementos dentro de otros elementos.

     elemento elementoInterno {
      propiedad: valor;
     }

    -Hijo directo
    -Elemento Adjacente
    -Hermano general

  5. Selectores de Atributos
    -Atributo
    -Atributo - Valor

  6. Selectores Avanzados
    -Pseudo-clase
    -Pseudo-elementos
*/

/* 
  Selectores Basicos

  */

/* Universal -> Seleccionar todos los elementos de un documento */

* {
  border: 0;
  /* Reset Basico */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Selectores de Tipo -> Seleccionan un tipo de elemento en html */

body {
  background-color: lightcyan;
}

h1 {
  color:darkslateblue;
}

p {
  font-size:24px;
}

header {
  background-color:rgb(63, 171, 243);
}

/* Selectores de Clase */
.content {
  background-color: hotpink;
  padding: 48px;
}

.hero {
  background-color:khaki; 
  padding: 24px;
}

.hero-title {
  background-color: aquamarine;
  padding: 16px;
  text-align: center;
}

/* Selector de Id */
#about-title {
  color:rgb(63, 171, 243);
  font-size: 72px;
}

/* Combinado -Elementos Descendientes */

aside section {
  background-color:lightskyblue;
  padding: 48px;
}

.aside-secction h3 {
  color:hotpink;
  text-align: right;
  padding: 24px;
  background-color: aqua;
}